@media only screen and (max-width: 800px) {
      
h1{
    font-size: medium;
}


.heading{
    font-size: 0.9rem;
}
.navbar{
    width: 300px;
}
    .navbar ul{
        display: flex;
        position: relative;
        gap: 50px;
     
    
    }
        
    .navbar ul li{
        align-items: center;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transition: 0.9s;
        transition-delay: 0.25s;
        width: 0px;
       
    }
    
    .navbar img{
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        width: 20px;
        height: auto;
        user-select: none;
        
    }
    .navbar a{
        text-decoration: none;
        color: rgb(65, 45, 112);
      user-select: none;
        
    }
    .navbar img:hover{
        transition: 1s;
        transition-delay: 0.9s;
    }
    .navbar ul li:hover{
        width: 60px;
        transition-delay: 0.5s;
        transition: 0.4s;
        height: 28px;
         transform: scaleX(1.3);
         background: rgba(255, 255, 255, 0.14);
         border-radius: 8px;
         box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
         backdrop-filter: blur(8.8px); */
         -webkit-backdrop-filter : blur(8.8px);
        
    }
    
    .navbar ul li::before{
        content: '';
        position: absolute;
        inset: 0;
       
        background: rgba(255, 255, 255, 0.14);
    
         border-radius: 8px;
         box-shadow: 0 10px 45px rgba(0, 0, 0, 0.3);
         /* backdrop-filter: blur(8.8px); */
         /* -webkit-backdrop-filter: blur(8.8px); */
        /* transition: opacity 0.5s ease; */
    }
    .navbar li:hover::before{
        
        opacity: 1;
    }
    .navbar ul li::after{
        content: '';
        position: absolute;
        /* width: 100%; */
        background: rgba(255, 255, 255, 0.14);
        transition: 0.5s;
    
    }
    .navbar ul li .icn{
        /* color: #fff; */
        font-size: 1.1rem;
        transition: 0.5s;
        transition-delay: 0.25s;
    }
    .navbar ul li:hover .icn{
        transform: scale(0);
        transition-delay: 0s;
         /* color: #fff */
    }
    .navbar ul li span{
        position: absolute;
    
    }
     .navbar ul li .title{
        color: rgb(65, 45, 112);
        padding: 4px;
        font-size: 0.6rem;
        /* text-transform :uppercase; */
         /* letter-spacing: 0.1em; */
         transform: scale(0);
         transition: 0.8s;
         transition-delay: 0s;
    }
    .navbar ul  li:hover .title{
     transform: scale(1);
     transition: 0.5s;
     transition-delay: 0.20s;
     
    }

    .container{
        border-radius: 15px;
        padding: 20px;
        width: 100%;
        height: 75vh;
        user-select: none;
    }
    #home{
        display: block;
      inset: 0;
      width: 100%;
      height: 75vh;
      /* padding: 60px;
       */
       padding-top: 25%;
      justify-content: center;
      align-self: center;
      align-items: center;
    }
#home img{
   width: 100px;
   height: 100px;
}


#home .socialmedialink img{
    width: 25px;
    height: 25px;
    margin: -10px;
    
}
#home p{
    font-size: 0.7rem;
  }

  #home button{
    border-radius: 8px;
    padding: 9px;
    margin: 5px;
    font-size: 0.5rem;
    font-weight: 600;
}

.modal {
padding-top: 70%;
}
.modal-content {
padding: 8px;
width: 70%;
height:auto;
border: 6px;


}
.modal-content input{
    margin: 4px;
    padding: 2px;
    font-size: 0.4rem;
    width: 80%;
    border-radius: 4px;
}

.modal-content textarea{
    width: 180px;
    height: 60px;
    margin: 0;
    border-radius: 4px;
    font-size: 0.4rem;
}

.modal-content ::placeholder{
    font-size: 0.4rem;
}
#aboutme{
    display: block;
    inset: 0;
    width: 100%;
    height: 75vh;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 10px;
    /* padding-top: 70px; */
  } 

#aboutme .content {
width: 100%;
border: none;
flex-direction: column;
}
#aboutme .content .leftc {
font-size: 0.7rem;
height: 80%;
width: 100%;
padding: 5px;
padding-top: 20px;
}


#aboutme .content .rightc {
width: 100%;
height: 70%;
font: 1rem;
gap:5px;
}
#aboutme .content .rightc ul{
    align-self: center;
    justify-content: center;
    align-items: center;
    
 }
 
 #aboutme .content .rightc li{
 font-size: 0.45em;
 margin-top: 10px;  
 }
 
 #aboutme .content .rightc li .tittle{
     color: #2b0f61;
     padding: 3px;
     font-weight: 900;
 } 

 #resume{
    inset: 0;
      width: 100%;
      height: 75vh;
      padding: 10px;
    
}
.skills{
    flex-direction: column;
}

.containers{
    max-width: 500px;
    padding: 5px;

}
.container .skill-box{
height: 4vh;
margin: ;
}

.skill-box .title{
font-size: 0.5rem;
padding: 10px;
}

.skillstag{
  border-radius: 6px;
  height: 30%;
}
fieldset{
padding: 20px;
height: 200px;
margin-top: 30px;
justify-content: center;
}

.tools p{
 width: 40%;
 height: 40px;
 padding: 3px;
 border-radius: 6px;
 font-size: 0.7rem;

}
#Portfolio{
    inset: 0;
    width: 100%;
    height: 75vh;
    padding: 10px;
}  
.projects{
    padding: 10px;
    width: 100%;
}
.projects p{
 font-size: 0.7rem;
}
.projects imgs{
    padding: 5px;
     justify-content: center;
     text-align: center;
     margin: 10px;
}
.projects .imgs img{
margin: 10px;
max-width: 150px;
max-height: 200px;
border-radius: 6px;
}

#contact{
    inset: 0;
    width: 100%;
    height: 75vh;
    padding: 10px;
}             
#contact iframe{
border-radius: 15px;
height: 90px;
}
.cont{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
} 
#contact input{
  margin: 5px;
  margin-bottom: 15px;
    border-radius: 3px;
 padding: 6px;
 font-size: 0.7rem;

}

#contact  ::placeholder{
font-size: small;
}

#textarea{
    font-size: 0.7rem;
    padding: 6px;

}
}